
.kalkulator
{
	background-color:grey;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding: 3% 5%; 
	filter: alpha(opacity=70);
	-moz-opacity:.70;
	width: 30%;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
}

}
body{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
}
h2 {
	color: black;
}
#answer{
	color: black;
}
#clear {
	background-color: orange;
}
body {
	background-color:#464646;
}
#answer {
	background-color: white;
	filter: alpha(opacity=70);
	width: 170px;
	height: 25px;
}





